/* great-vibes */
@font-face {
  font-family: Great Vibes;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: local("Great Vibes"), local("GreatVibes-Regular"),
    url(../fonts/great-vibes.woff2) format("woff2"),
    url(../fonts/great-vibes.woff) format("woff");
  font-display: swap;
}
