@import "./assets/css/great-vibes.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  padding: 1rem;
  font-size: 2rem;
}
